[user]
    email = joshharc@gmail.com
    name  = Josh Harcombe

[alias]
    a    = add
    b    = branch
    c    = commit
    cane = commit --amend --no-edit
    ch   = checkout
    d    = diff
    l    = log
    lg   = log --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
        --abbrev-commit
    lol  = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ph   = push
    pl   = "pull --rebase"
    s    = status

[init]
    defaultBranch = main

[diff]
	external = difft

[rerere]
    enabled = true

[pager]
    diff   = delta
    log    = delta
    reflog = delta
    show   = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features     = decorations
    side-by-side = true
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style       = blue ol
    commit-style                  = raw
    file-style                    = omit
    hunk-header-decoration-style  = blue box
    hunk-header-file-style        = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style             = file line-number syntax
[pull]
	rebase = false
[push]
	autoSetupRemote = true
