
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-volume-high:before { content: '\e801'; } /* '' */
.icon-volume-middle:before { content: '\e802'; } /* '' */
.icon-volume-low:before { content: '\e803'; } /* '' */
.icon-volume-off:before { content: '\e804'; } /* '' */
.icon-mic:before { content: '\e805'; } /* '' */
.icon-mic-outline:before { content: '\e806'; } /* '' */
.icon-headphones:before { content: '\e807'; } /* '' */
.icon-volume-up:before { content: '\e808'; } /* '' */
.icon-volume:before { content: '\e809'; } /* '' */
.icon-volume-down:before { content: '\e80a'; } /* '' */
.icon-volume-off-1:before { content: '\e80b'; } /* '' */
.icon-mic-1:before { content: '\e80c'; } /* '' */
.icon-mic-circled:before { content: '\e80d'; } /* '' */
.icon-headphones-1:before { content: '\e80e'; } /* '' */
.icon-hdd:before { content: '\e80f'; } /* '' */
.icon-database:before { content: '\e810'; } /* '' */
.icon-terminal:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-hdd-1:before { content: '\f0a0'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */